body{
  margin: 0;
  padding: 0;
  max-width: 1440;
  /* fonts */
  font-family: 'Quicksand', sans-serif;
  
}

.custom-spacing .nav-item {
  display: flex;
  justify-content: space-between;
}


.text-right-spaced {
  text-align: right;
  padding-right: 50px; 
}


p{
  font-size: 18px;
  color: #fff;
}

.light-white-text {
  color: rgba(255, 255, 255, 0.6); 
}

.p-custom{
  font-size: medium 70px;
}

h1{
  text-align: left;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 42px;
  color: #fff;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.8);
}


.banner-section {
  background-color: #2D3142;
  height: 750px;
  width: 100%;
}

.content-section {
  background-color: white;
  min-height: calc(100vh - 750px); 
  width: 100%;
  padding-top: 20px; }

.custom-log1{
  position: absolute;
  height: 100px;
}

.custom-log2{
  position: absolute;
}

.custom-log3{
  position: absolute;
}

.banner-container {
  background-color: #4f5d75;
}

.custom-width {
  width: 609px;
}

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: none !important;
}
.custom-height-width {
  height: 750px;
  width: 1440px;
}

.bg-nav{
  background-color: #282B36
}

.custom-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.btn-custom {
  padding-inline: 20px;
  background-color: #EF8354;
  border-color: #EF8354;
  color: #fff;
  box-shadow: 0 15px 10px rgba(250, 146, 49, 0.1), 
  0 10px 15px rgba(250, 146, 49, 0.1); 
}

.btn-custom:hover {
  background-color: #e4821e;
  border-color: #e4821e;
}


@media (min-width: 992px) { 
  .custom-img-position {
    position: absolute;
    right: 100px; 
  }
}

@media (min-width: 992px) {
  .custom-img-position {
    position: absolute;
    right: 103px;
  }
}

.banner-section {
  position: relative;
}


/* overlay */

.overlay-boxes {
  position: relative;
  width: 100%;
  height: 500px; 
}

.overlay-box1{
  position: absolute;
  width: 152px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.overlay-box2{
  position: absolute;
  width: 101.33px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
} 

.overlay-box3{
  position: absolute;
  width: 136px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.overlay-box1 {
  top: 54px;
  left: 75px;
  background-color: #FFFFFF; 
}

.overlay-box2 {
  top: -42px;
  left: 556px;
  background-color: #4F5D75; 
}

.overlay-box3 {
  bottom: -160.4px;
  left: 556px;
  background-color: #272934; 
}

.spacer {
  height: 129px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px; 
  bottom: -28px;
  left: 0;
  border-radius: 2px;
  background-color: #EF8354; 
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}